.header {
  display: flex;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  justify-content: space-between;
  padding: 20px 0px;
  margin-bottom: -100px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 9999;
}
.header ul {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 30px;
  row-gap: 8px;
  align-items: end;
}
.header ul li {
  margin-left: 0px;
  letter-spacing: 1px;
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}
.header ul li a {
  text-decoration: none;
  color: inherit;
}
.header ul li a.active-link {
  color: #fff;
  opacity: 1;
}
.header ul li a.active-link .hover-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 2px;
}
.navbar-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #fff;
}
@media only screen and (min-width: 500px) {
  .header {
    padding: 20px 0px;
  }
  .header ul {
    flex-direction: row;
    align-items: center;
    font-size: 12px;
  }
  .header ul li {
    color: #eae5ec;
  }
  .navbar-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .header ul {
    column-gap: 40px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 35px 0px;
  }
  .header ul {
    column-gap: 60px;
    font-size: 14px;
  }
  .navbar-title {
    font-size: 18px;
  }
}
